:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grey-blue: hsl(233, 8%, 79%);
  --dk-grey-blue: hsl(236, 13%, 42%);
  --dk-blue: hsl(240, 100%, 5%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 375px;
  min-height: 100vh;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  background-color: var(--off-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  width: 343px;
  margin: 28px 0;
}

h1 {
  margin: 0 0 16px;
  font-size: 40px;
  line-height: 40px;
}

h2 {
  color: var(--soft-orange);
  margin-top: 0;
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  color: var(--grey-blue);
  margin-top: 0;
  margin-bottom: 12px;
}

h4 {
  font-weight: 800;
  line-height: 24px;
}

p {
  font-weight: 400;
  color: var(--dk-grey-blue);
  line-height: 26px;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.logo {
  width: 45px;
  height: 28px;
}

.nav {
  position: absolute;
  display: block;
  background: var(--off-white);
  top: 0;
  right: 0;
  width: 256px;
}

.navigation-open {
  display: none;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  height: 669px;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--dk-blue);
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-left: 24px;
}

.nav-item {
  padding-bottom: 24px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--soft-orange);
}

.open-nav {
  border: 0;
  background: 0;
  cursor: pointer;
}

.close-nav {
  border: 0;
  background: 0;
  cursor: pointer;
  position: absolute;
  top: 27px;
  right: 20px;
}

picture img {
  width: 343px;
  height: 300px;
  order: 1;
  margin-bottom: 24px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.main-article {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.article-content {
  order: 2;
}

.article-content p {
  padding-bottom: 24px;
}

.read-btn {
  color: var(--off-white);
  background-color: var(--soft-red);
  padding: 13px 31px;
  margin-bottom: 0;
  letter-spacing: 4.38px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.read-btn:hover {
  background-color: var(--dk-blue);
}

.articles-section1 {
  background-color: var(--dk-blue);
  margin-bottom: 64px;
  padding: 24px 20px;
}

.articles-section1 article:not(:last-child) {
  border-bottom: 1px solid var(--dk-grey-blue);
}

.articles-section1 p {
  color: var(--grey-blue);
}

.articles-section1 h4 {
  color: var(--off-white);
  font-size: 20px;
}

.articles-section1 h4:hover {
  color: var(--soft-orange);
}

.articles-section2 img {
  width: 100px;
  height: 129px;
}

.article-section-2 {
  display: flex;
  height: 129px;
  margin-bottom: 32px;
}

.article-section-2 h4 {
  margin: 0;
  font-weight: 800;
  font-size: 18px;
  color: var(--dk-blue);
}

.article-section-2 h4:hover {
  color: var(--soft-red);
}

.article-section-2 p {
  margin: 0;
}

.article2-content {
  padding-left: 24px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--soft-red);
  cursor: pointer;
}

@media (min-width: 1110px) {
  body {
    width: 100%;
  }

  .container {
    width: 1110px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    height: 64px;
  }

  .logo {
    width: 64px;
    height: 40px;
  }

  .nav {
    position: initial;
    display: flex;
    height: 64px;
    width: 431px;
  }

  .nav-list {
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    padding: 0;
  }

  .nav-link {
    margin: 0;
    font-size: 15px;
    color: var(--dk-grey-blue);
  }

  .open-nav,
  .close-nav {
    display: none;
  }

  .main-container {
    display: grid;
    grid-template-columns: 730px 350px;
    grid-template-rows: 511px 129px;
    column-gap: 30px;
    row-gap: 71px;
    margin-bottom: 50px;
  }

  picture img {
    width: 730px;
    height: 300px;
  }

  .main-article {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-bottom: 0;
  }

  .article-content {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 56px;
    line-height: 56px;
    width: 350px;
  }

  .article-read {
    width: 350px;
    height: 181px;
  }

  .articles-section1 {
    grid-row: 1 / 1;
    grid-column: 2 / 3;
    width: 350px;
    height: 511px;
    margin-bottom: 0;
  }

  .articles-section2 {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    width: 1110px;
    height: 129px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .article-section-2 {
    width: 350px;
  }
}
